<html>
  <head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{  url_for('static', filename='style.css') }}" type="text/css"/>
    <title>Rank</title>
  </head>
  <body>
    <h1>Github Ranker</h1>
    <div id="main">
      {% if rank%}
      <h2>Looks like you are a ...</h2>
      <h2>{{rank}}</h2>
      {% else %}
      <h3>Opps! I can't find that user...</h3>
      {% endif %}
      <br>
      <h2>Try another one!</h2>
      <form action="rank">
        <input id="repository" type="text" value="{{user}}"/>
        <input type="submit" name="submit">
      </form>
    </div>
  </body>
</html>
